<div class="blog-post {{ primary_tag.slug }}">
  <a href="{{ url }}">
    <h2 class="heading title not-capped">{{ title }}</h2>
    <p class="excerpt">{{ excerpt characters="140" }}</p>
  </a>
  <div class="metadata">
    {{#primary_tag}}
      <a href="{{ url }}" class="category">{{ name }}</a>
    {{/primary_tag}}
    <span class="date">{{ date }}</span>
  </div>
</div>
