<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ meta_title }}</title>

  <link rel="stylesheet" type="text/css" href="{{ asset "built/app.css" }}" />

  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  {{ ghost_head }}
</head>
<body class="{{ body_class }}">
  <div id="app">
    {{> header }}
    {{{ body }}}

    <footer class="site-footer outer">
      <div class="site-footer-content inner">
        <section class="copyright"><a href="{{ @blog.url }}">{{ @blog.title }}</a> &copy; {{ date format="YYYY" }}</section>
        <nav class="site-footer-nav">
          <a href="{{@blog.url}}">Latest Posts</a>
          {{#if @blog.facebook}}<a href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}}
          {{#if @blog.twitter}}<a href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
          <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
        </nav>
      </div>
    </footer>
  </div>

  <!-- TODO: Patrick, figure out pagination and infinitescroll -->
  {{#if pagination.pages}}
    <script>
      // maxPages is a global variable that is needed to determine
      // if we need to load more pages for the infinitescroll, or if
      // we reached the last page already.
      var maxPages = parseInt('{{pagination.pages}}');
    </script>
    <script src="{{asset "js/infinitescroll.js"}}"></script>
  {{/if}}

  {{ghost_foot}}
</body>
</html>
